<html>
<head>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>  
  <script src="/js/firebaseCode.js"></script> 
    	<!--<link rel=stylesheet type=text/css href="/css/login.css">-->
      <script src="/js/js.cookie.js"></script>
            <script src="/js/jquery-min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/keypress.js"></script>    



             <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script type="text/javascript" src="/js/css-pop.js"></script>
      <script src="/js/jquery-min.js"></script>
      <script src="/js/js.cookie.js"></script>
</head>


<body>
  <div class="container">
<div class="product_details">
  <h1 class="bg-success" style="color:white"><%=product.name%></h1>
  <h3>Rs.<%=product.price%></h3>



 


  <img src="/images/<%=product.image%>" width=300px alt="lux">
  <p><%=product.description%></p>
  </div>

<div class="row">

  <div class="col-md-3">
 <button class="btn btn-success" onclick="goBack()">Go Back</button>
<script>

function goBack() {
  window.location.replace("/home/?id="+Cookies.get("user_id"));
}
</script>
</div>
  <!--display add to cart if in priority mode-->
  <div class="col-md-3">
 <script>

  if (Cookies.get("self_checkout")!==1){
    $('#add').disabled=true;
    $('#remove').disabled=true;
    $('#bill').disabled=true;
  }

  $(document).ready(function(){
    $('#add').click(function(){
      var qty = prompt("Enter Quantity: ", 1);
        $.post("/addToCart",
        {
          user_id: Cookies.get("user_id"),
          id: <%=product.id%>,
          qty: qty,
          bill: Cookies.get('bill')
        },
        function(data,status){
            swal("Added to cart");

        });
    });
  });
  </script>
  <button id='add' class="btn btn-success">Add to Cart</button>
  </div>


    <!--display remove from cart if item is added-->
    <div class="col-md-3">
 <script>
  $(document).ready(function(){
    $('#remove').click(function(){

        $.post("/removeFromCart", {
          user_id: Cookies.get("user_id"),
          id: <%=product.id%>,
          bill: Cookies.get('bill')
        }, 
        function(data,status){
          console.log(status);
          if (data=='success'){
            swal("Removed from cart");
          }
            else{
              swal("Item not in cart");
            }
          });

        });
    });
  </script>
  <button id='remove' class="btn btn-success">Remove from Cart</button>
  </div>

<div class="col-md-3">
   <script>
  $(document).ready(function(){
    $('#bill').click(function(){
    window.location.href = "/bill/"+Cookies.get('bill');
        });
    });

  </script>
 <button id='bill' class="btn btn-success">View cart</button>
</div>
</div>
<br>


  <!--related products-->
  <div class = "related_products">

  <h3 style="background:grey">Shopping Streak offers. Add one of the following items to cart after purchasing the current item and receive a 10% discount!</h3>
  <div class="container" style="background:lightgrey">

<div class="row">

  <div class="col-md-6">
  <h4><a href='/product/<%=rel_prod[0].id%>'><%=rel_prod[0].name%></a></h4>
  <img src="/images/<%=rel_prod[0].image%>" width=200px alt="p1">
</div>

<div class="col-md-6">
  <h4><a href='/product/<%=rel_prod[1].id%>'><%=rel_prod[1].name%></a></h4>
  <img src="/images/<%=rel_prod[1].image%>" width=200px alt="p2">
</div>
</div>
</div>
   </div>
<br>
  <div class="panel panel-default">
    <div style="background:grey" class="panel-heading">
      <h4 class="panel-title">Related ads</h4>
    </div>
    <div class="panel-body" style="background:lightgrey">
   <div id="ad"><img src="/images/<%=ad%>" height=200px></div>
 </div>
 </div>
 <br>
 <br>
</div>

<!-- listen to barcode reader -->
<script>
    var listener = new window.keypress.Listener();
    
    
    listener.sequence_combo("8 9 0 1 0 3 0 4 1 0 9 1 8", function() {
        window.location.replace("/product/2");
    }, true);
    
    listener.sequence_combo("4 7 9 2 0 2 4 0 1 1 7 5 4", function() {
        window.location.replace("/product/3");
    }, true);
    
    listener.sequence_combo("4 7 9 2 0 8 1 0 1 1 0 6 3", function() {
        window.location.replace("/product/1");
    }, true);
    </script>




</body>


</html>